<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %> - Takuya Mukohira のページ</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1 user-scalable=no" name="viewport">

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Simple Sidebar -->
    <link href="../css/simple-sidebar.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <h1 class="sidebar-brand">
            <a href="http://www/~mt12340/">mt12340</a>
          </h1>
          <li>
            <h2>Contents</h2>
          </li>
          <li><a href="../about.html">About Me</a></li>
          <li><a href="../softech.html">ソフテク関連</a></li>
          <li><a href="../others.html">その他</a></li>
        </ul>
      </div>

      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div id="texts">
                <h2 class="page-header"><%= title %></h2>

                <%= body %>
              </div>

              <div class="visible-xs">
                <a id="menu-toggle" class="btn btn-default" style="position: fixed; top: 30px; right: 3px;" href="#menu-toggle">Menu</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery -->
    <script src="../js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>

